<!--- <div class="encrypt-container">
  <h2>Chiffrement de fichier</h2>

  <form (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="fichierPdf">Fichier à chiffrer</label>
      <input
        type="file"
        id="fichierPdf"
        (change)="onFichierChange($event)"
        required
      />
      @if(fichierSelectionne) {
      <span class="fichier-nom">
        📄 {{ fichierSelectionne?.name }}
      </span>
      }
    </div>


    <div class="form-group">
      <label for="nomFichierSortie">Nom du fichier de sortie</label>
      <input
        type="text"
        id="nomFichierSortie"
        [(ngModel)]="nomFichierSortie"
        name="nomFichierSortie"
        placeholder="ex: mon_fichier_chiffre"
        required
      />
    </div>

    <div class="form-group">
      <label for="motDePasse">Mp</label>
      <input
        type="text"
        id="motDePasse"
        [(ngModel)]="motDePasse"
        name="motDePasse"
        placeholder="ex: mots de passe"
        required
      />
    </div>



    <button type="submit" [disabled]="!fichierSelectionne || !nomFichierSortie || chargement">
      @if (!chargement) {
      <span >🔒 Chiffrer</span>
      }

      @if (chargement) {
      <span >Chiffrement en cours...</span>
      }
    </button>

  </form>

  @if (erreur) {
    <div class="erreur">
      ❌ {{ erreur }}
    </div>
  }



  <div class="resultat">
    <p>✅ Fichier chiffré avec succès !</p>
    <button (click)="telecharger()">⬇️ Télécharger le fichier .enc</button>
  </div>

  </div>

-->
