# Dépendances
node_modules/
__pycache__/
*.pyc

# Build
dist/
build/
.angular/

# IDE
.vscode/
.idea/
*.swp
src-tauri/resources/pdf-maker.jar

target/
src-tauri/target/

logs/
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local