
mat-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
}


input[type="checkbox"]:checked {
  background-color: #23583F !important;
  border-color: #23583F !important;
}
