<footer class="w-full bg-surface-container-high border-t border-outline-variant/60 py-4 px-8 mt-auto">
  <div class="max-w-[1400px] mx-auto flex flex-col sm:flex-row items-center justify-end gap-6 sm:gap-8 text-xs font-medium text-on-surface-variant">

    <a href="#" class="hover:text-primary transition-colors cursor-pointer">
      Politique de sécurité
    </a>

    <a href="#" class="hover:text-primary transition-colors cursor-pointer">
      Politique de confidentialité (RGPD)
    </a>

    <a href="#" class="hover:text-primary transition-colors cursor-pointer">
      CGU
    </a>

    <a href="#" class="hover:text-primary transition-colors cursor-pointer">
      Mentions légales
    </a>


  </div>
</footer>
